:root {
    --dk-blue: #02253F;
   
    --lt-blue: #2F6A98;
   
    --md-blue: #084472;
   
    --yellow: #F2D450;
   
    --lt-grey: #F5F5F5;
   
    --green: #0A9358;  
}   
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.container {
    max-width: 1250px;
}