@page
@model IndexModel
@{
    ViewData["Title"] = "Train Watch";
}

<div style="display: flex;">
    <h1>Welcome to Train Watch</h1>
    <div style="padding-left: 2rem;"><img src="~/img/icons8-train-100.png" alt="Logo Image" title="Go to Home" /></div>
</div>
<p>
    Welcome to the number one site for tracking and staying up-to-date on the latest locomotives in Canada!
    We keep you up to date on the latest information on trains mostly relating to train engines
    and railcars!
</p>
<p>
    Join the largest community of train trackers in north america!
</p>

