@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Here is the source for my train image for this project</p>
<p><a target="_blank" href="https://icons8.com/icon/n7wPd9MELQ3y/train">Train</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
